* {
  margin: 0%; 
  border:0px;
  

}

body {
  color: black; 
  background-color: 
}


.media-object{
  height: 8rem; 
  position: absolute; 
  float: left; 
  margin: 1px; 
  border: 1 solid; 
  
}

.li:hover {
  background-color: red; 
  border-radius: 10%; 
}

.fuck-you {
  
  background-color: red; 
  float: left; 
  display: block; 
  position: fixed; 
  
}

footer {
  position:fixed;
  bottom: 0; 
  width: 100%; 
  height: 60px; 
  background-color:red; 
  justify-content: center; 
  
}

.foottext {
  text-align: center; 
  color: black; 
  height: 10%; 
  background-color:

}


.words {
  float: left; 
  background-color: blue; 
  display: block; 
}

